
/* Forms
-------------------------------------------------- */

#cf fieldset {
	margin-bottom: 1.5em;
}
#cf legend {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
}
/* overwrite default WP spacing for this class */
#cf p.submit {
	margin: 12px 0 0 0;
	padding: 0;
}

/* wrapper for labels and form elements */
#cf .cf-elm-block {
	clear: both;
	margin: 3px 0;
	padding: 3px 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#cf form .cf-elm-block:hover {
	background-color: #f3f3f3;
}
#cf form .cf-elm-block.no-hover,
#cf form .no-hover .cf-elm-block:hover {
	background: none;
}
#cf .cf-elm-block.active {
	background-color: #eee;
}

#cf .cf-elm-date,
#cf .cf-elm-readonly,
#cf .cf-elm-hidden,
#cf .cf-elm-text,
#cf .cf-elm-password,
#cf .cf-elm-select,
#cf .cf-elm-textarea {
	font-size: 12px;
	padding: 3px;
}

#cf .cf-elm-help {
	color: #888;
}
#cf .cf-elm-help.cf-elm-align-bottom {
	display: block;
	padding-left: 20%;
}

#cf span.cf-elm-checkbox,
#cf span.cf-elm-flag,
#cf span.cf-elm-date,
#cf span.cf-elm-readonly,
#cf span.cf-elm-hidden,
#cf span.cf-elm-text,
#cf span.cf-elm-password,
#cf span.cf-elm-select,
#cf div.cf-elm-textarea {
	padding: 3px 0;
}

#cf span.cf-elm-checkbox,
#cf span.cf-elm-flag,
#cf label.cf-lbl-checkbox,
#cf label.cf-lbl-flag,
#cf label.cf-lbl-radio {
	color: #333;
	font-size: 12px;
}
#cf .view label.cf-lbl-checkbox,
#cf .view label.cf-lbl-flag,
#cf .view label.cf-lbl-radio {
	color: #555;
	font-size: 11px;
}

#cf .cf-lbl-pos-top .cf-lbl-date,
#cf .cf-lbl-pos-top .cf-lbl-readonly,
#cf .cf-lbl-pos-top .cf-lbl-hidden,
#cf .cf-lbl-pos-top .cf-lbl-text,
#cf .cf-lbl-pos-top .cf-lbl-textarea,
#cf .cf-lbl-pos-top .cf-lbl-select,
#cf .cf-lbl-pos-top .cf-lbl-password {
	display: block;
}
#cf .cf-lbl-pos-top label.cf-lbl-checkbox,
#cf .cf-lbl-pos-top label.cf-lbl-flag,
#cf .cf-lbl-pos-top label.cf-lbl-radio {
	cursor: pointer;
	display: inline;
}

#cf .cf-lbl-pos-left .cf-elm-block {
	clear: both;
}
#cf .cf-lbl-pos-left label,
#cf .cf-lbl-pos-left .view label.cf-lbl-checkbox,
#cf .cf-lbl-pos-left .view label.cf-lbl-flag,
#cf .cf-lbl-pos-left .view label.cf-lbl-radio {
	width: 20%; /* needs to match .cf-lbl-left .cf-elm-* margin-left */
	float: left;
}
#cf .cf-lbl-pos-left label, 
#cf .cf-lbl-pos-left span.view {
	padding-top: 3px;
}
#cf .cf-lbl-pos-left span.view {
	display: inline-block;
}
#cf .cf-lbl-pos-left label.cf-lbl-checkbox,
#cf .cf-lbl-pos-left label.cf-lbl-flag,
#cf .cf-lbl-pos-left label.cf-lbl-radio {
	width: auto;
	padding-top: 0;
	float: none;
}
#cf .cf-lbl-pos-left .cf-elm-checkbox,
#cf .cf-lbl-pos-left .cf-elm-flag,
#cf .cf-lbl-pos-left .cf-elm-radio {
	margin-left: 20%; /* needs to match .cf-lbl-left .cf-lbl-* width */
}
/* remainging labels left for view only */
#cf .cf-lbl-pos-left .view label.cf-lbl-checkbox,
#cf .cf-lbl-pos-left .view label.cf-lbl-flag,
#cf .cf-lbl-pos-left .view label.cf-lbl-radio {
	color: #555;
	font-size: 11px;
	padding-top: 3px;
}

/* Set form element width's */
#cf .cf-elm-width-300 .cf-elm-text,
#cf .cf-elm-width-300 .cf-elm-password,
#cf .cf-elm-width-300 .cf-elm-textarea {
	width: 300px;
}
#cf .cf-elm-width-500 .cf-elm-text,
#cf .cf-elm-width-500 .cf-elm-password,
#cf .cf-elm-width-500 .cf-elm-textarea {
	width: 500px;
}
#cf .cf-elm-width-200 .cf-elm-text,
#cf .cf-elm-width-200 .cf-elm-password,
#cf .cf-elm-width-200 .cf-elm-textarea {
	width: 200px;
}
#cf .cf-elm-width-50 .cf-elm-text,
#cf .cf-elm-width-50 .cf-elm-password,
#cf .cf-elm-width-50 .cf-elm-textarea {
	width: 40px;
}
#cf .cf-elm-width-100 .cf-elm-text,
#cf .cf-elm-width-100 .cf-elm-password,
#cf .cf-elm-width-100 .cf-elm-textarea {
	width: 100px;
}
#cf .cf-elm-width-full .cf-elm-text,
#cf .cf-elm-width-full .cf-elm-password,
#cf .cf-elm-width-full .cf-elm-textarea {
	/**
	 * Box model CSS3 change
	 * @see http://www.quirksmode.org/css/box.html
	 * Additional workaround in IE7.css
	 */
	-moz-box-sizing: border-box; /* FF1+ */
	-webkit-box-sizing: border-box; /* Saf3+ */
	box-sizing: border-box; /* Standard. Opera7+, IE8+ */
	width: 99%;
}
#cf .cf-lbl-pos-left .cf-elm-width-full .cf-elm-text,
#cf .cf-lbl-pos-left .cf-elm-width-full .cf-elm-password,
#cf .cf-lbl-pos-left .cf-elm-width-full .cf-elm-textarea {
	width: 69%;
}
/* Set form element heights (textarea) */
#cf .cf-elm-height-60 .cf-elm-textarea {
	height: 60px;
}
#cf .cf-elm-height-100 .cf-elm-textarea {
	height: 100px;
}
#cf .cf-elm-height-500 .cf-elm-textarea {
	height: 500px;
}

/* checkbox and radio lists */
#cf .cf-lbl-checkbox-group,
#cf .cf-lbl-radio-group {
	font-size: 1em;
}
#cf .cf-lbl-pos-left .cf-lbl-checkbox-group,
#cf .cf-lbl-pos-left .cf-lbl-radio-group {
	width: 20%; /* needs to match .cf-lbl-left .cf-elm-* margin-left */
	float: left;
}
#cf p.cf-lbl-checkbox-group,
#cf p.cf-lbl-radio-group {
	margin: 1px 0;
}
#cf .cf-has-checkbox ul,
#cf .cf-has-radio ul {
	list-style-type: none;
	margin-left: 0;
}
#cf .cf-lbl-pos-left .cf-has-radio ul,
#cf .cf-lbl-pos-left .cf-has-checkbox ul {
	margin-left: 20%;
	margin-top: 2px;
}
#cf .cf-lbl-pos-left .cf-has-radio ul .cf-elm-radio,
#cf .cf-lbl-pos-left .cf-has-checkbox ul .cf-elm-checkbox {
	margin-left: 0;
}

#cf .cf-lbl-hide label,
#cf label.cf-lbl-hide {
	display: none;
}

/* notifications */
.cf-error { 
	background:#fbe3e4 !important; 
	color:#8a1f11;
}
.cf-notice { 
	background:#fff6bf !important;
	color:#514721;
}
.cf-success {
	background:#e4ffc9 !important;
	color:#264409;
}
.cf-error a { color:#8a1f11; }
.cf-notice a { color:#514721; }
.cf-success a { color:#264409; }